<!DOCTYPE html>

<html>
    <body>
        <footer class="android-footer mdl-mega-footer">
            <div class="mdl-mega-footer--top-section">
                <div class="mdl-mega-footer--right-section">
                    <a class="mdl-typography--font-light" href="#top">
                        Topo 
                        <i class="material-icons">expand_less</i>
                    </a>
                </div>
            </div>

            <div class="mdl-mega-footer--middle-section">
                <p class="mdl-typography--font-light">Crescer © 2016 </p>
            </div>

            <div class="mdl-mega-footer--bottom-section">
                <a class="android-link android-link-menu mdl-typography--font-light" id="version-dropdown">
                    Versões
                    <i class="material-icons">arrow_drop_up</i>
                </a>
                <ul class="mdl-menu mdl-js-menu mdl-menu--top-left mdl-js-ripple-effect" for="version-dropdown">
                    <li class="mdl-menu__item">0.0000001 ALPHA</li>
                </ul>
                <a class="android-link android-link-menu mdl-typography--font-light" id="developers-dropdown">
                    For Developers
                    <i class="material-icons">arrow_drop_up</i>
                </a>
                <ul class="mdl-menu mdl-js-menu mdl-menu--top-left mdl-js-ripple-effect" for="developers-dropdown">
                    <li class="mdl-menu__item">Gabriel</li>
                </ul>
                <a class="android-link mdl-typography--font-light" href="">Privacy Policy</a>
            </div>

        </footer>
        <a href="https://gist.github.com/nonnemacher/9844c82d0c83fda3669ff7c871c9546e" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast" th:fragment="footer_postar">View Source</a>
        <div th:fragment="footer_scripts">
            <script src="https://code.getmdl.io/1.2.1/material.min.js" ></script>
        </div>
    </body>
</html>
