
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Wiki - Street Fighter</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/exercicioStreetFighterMelhorado.css" rel="stylesheet">
</head>
<body class="corpo">
    <div class="menu">
        <span><a href="~/StreetFighter/Index">Inicio</a></span>
        <span><a href="~/StreetFighter/Cadastro">Cadastro</a></span>
        <span><a href="~/StreetFighter/ListaDePersonagens">Lista de Personagens</a></span>
        <span><a href="~/StreetFighter/Sobre">Sobre</a></span>
    </div>
    <div class="sub-titulo">
        <h1>@ViewBag.Title</h1>
    </div>
    @RenderBody()
</body>
</html>

